<ngt-canvas
  (created)="$event.camera.lookAt(0, 2, -1)"
  [shadows]="true"
  [camera]="{ fov: 35, near: 0.25, far: 2000, position: [-5, 2, 10] }"
  [scene]="{ background: '#033645' | color, fog: ['#e0e0e0', 20, 100] | fog }"
>
  <!--    sky-->
  <ngt-soba-stars></ngt-soba-stars>

  <!--      lights-->
  <ngt-hemisphere-light
    [args]="['#ffffff', '#444444']"
    [position]="[0, 20, 0]"
  ></ngt-hemisphere-light>
  <ngt-directional-light
    [args]="['#ffffff']"
    [position]="[0, 20, 10]"
    [castShadow]="true"
  ></ngt-directional-light>


  <ng-container *ngIf="vinyle$ | async as vinyle" >
  <ngt-primitive
    [object]="vinyle.scene"
    [position]="[-4, 1.5, -3]"
    (ready)="onReady(vinyle.scene)"
    (animateReady)="onAnimateVinyle(vinyle.scene)"
  ></ngt-primitive>
</ng-container>


  <ng-container *ngIf="manette$ | async as manette">
    <ngt-primitive
      [object]="manette.scene"
      (ready)="onReady(manette.scene)"
      [position]="[1, 0.5, -3]"
      (animateReady)="onAnimate(manette.scene)"
    ></ngt-primitive>
  </ng-container>

  <ng-container *ngIf="lego$ | async as lego" >
    <ngt-primitive
      [object]="lego.scene"
      [position]="[16, -0.2, -11]"
      (ready)="onReady(lego.scene)"
      (animateReady)="onAnimateLego(lego.scene)"
    ></ngt-primitive>
  </ng-container>
</ngt-canvas>
<ngt-soba-loader></ngt-soba-loader>
