<div>

  <div class="présentation">
    <h1>L'effet Paralax</h1>
    <p>

    </p>

  </div>

<div class="blender">
  <h1> La modélisation 3D</h1>
  <p>
    Objectif: Modéliser en 3D certains de mes hobbies et essayer de les
    les afficher sur une page web.

    Outils: Blender, Angular-three

    Ceci ma permis à mieux comprendre l'utilisation du logiciel Blender
  </p>

    <ion-content class="ionic">
      <app-3d-objects></app-3d-objects>
    </ion-content>
</div>


  <div class="paralax">
    <h1>L'effet Paralax</h1>
    <p>

    </p>

  </div>


  <div class="api">
    <h1>L'effet Paralax</h1>
    <p>

    </p>

  </div>

</div>
